:root {
    --color-primary: #BB8bFC;
    --color-secondary: #1BC6B4;
    --color-font: #ced5db;
    --color-bg: #32383D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--color-font);
    background-color: #202529;
}

.container {
    background-color: var(--color-bg);
    padding: 20px;
    font-weight: 500;
    border-radius: 10px;
}

h1 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 4px 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--color-secondary);
    font-weight: 500;
}

input[type="text"] {
    padding: 2px 4px;
    border-radius: 5px;
    background-color: var(--color-bg);
    outline: none;
    border: 2px solid var(--color-font);
    margin-right: 5px;
    color: var(--color-font);
    margin-bottom: 10px;
}


.list label {
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
    background-color: #444f58;
    padding: 8px 16px;
    border-radius: 5px;
    /* color: #202529; */
    color: var(--color-font);
    margin: 10px 0;
}

.list input {
    width: 15px;
    height: 15px;
    outline: none;
    border: none;
    margin-right: 10px;
    /* background-color: #1BC6B4; */
    accent-color: white;
}

label.active {
    background-color: #1BC6B4;
    color: #202529;
}